<div class="showEditor shadow-sm" (click)="changeEditorState()">
  <mat-icon *ngIf="!editorActive">edit_note</mat-icon>
  <mat-icon *ngIf="editorActive">close</mat-icon>
</div>

<div class="editor m-5 shadow-lg" cdkDrag [cdkDragStartDelay]="200" [class.hide]="!editorActive">
  <mat-icon class="icon rounded-pill" *ngIf="editorActive" (click)="changeEditorState()">close</mat-icon>
  <angular-editor placeholder="'Enter text here...'" [(ngModel)]="htmlContent" (ngModelChange)="dataEditorTextChanged($event)"></angular-editor>
</div>

<div #pdfMaker [id]="'pdf'+0" class="pdf shadow-sm p-4" cdkDrag>


  <h2 class="text-center my-3">Peaqock Rapport</h2>
  <hr>

  <div echarts [options]="chartOption"></div>

  <div class="chartLine" [innerHTML]="htmlContent"></div>


</div>

<div class="operation shadow-sm">
  <div class="icone" (click)="downloadAsPDF()">
    <mat-icon class="icon_icone">picture_as_pdf</mat-icon>
  </div>
</div>
